<div class="middle_content_pro">
  <div class="middle_content_text">
    <p class="middle_content_text_new">Новий</p>
    <h2 class="middle_content_text_model_name">iPhone 15 </h2>
    <h1 class="middle_content_text_model_feature">Інноваційний</h1>
    <p class="middle_content_text_model_coast">Від $699</p>
    <a routerLink="/plp" class="btn btn-primary rounded-pill">Купити</a>
    <a class="middle_content_text_model_more" routerLink="/plp">Детальніше</a>
  </div>
  <div class="middle_content_background">
    <img class="middle_content_img "
         src="https://www.apple.com/v/iphone/home/bp/images/overview/hero/hero_iphone_15__fano21ho6fqu_large_2x.jpg"
         alt="c">
  </div>
</div>

