<div class="middle_content_pro">
  <div class="middle_content_text">
    <p class="middle_content_text_new">Новий</p>
    <h2 class="middle_content_text_model_name">iPhone 15 Pro</h2>
    <h1 class="middle_content_text_model_feature">Титановий</h1>
    <p class="middle_content_text_model_coast">Від $999</p>
    <a routerLink="/pdp/1" class="btn btn-primary rounded-pill">Купити</a>
    <a class="middle_content_text_model_more" routerLink="/plp">Детальніше</a>
  </div>
  <div class="middle_content_background">
    <img class="middle_content_img "
         src="https://www.apple.com/v/iphone/home/br/images/overview/hero/hero_iphone_15_pro__eqwrvy72748y_medium_2x.jpg"
         alt="c">
  </div>
</div>

