/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

app-root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main_container {
  margin: 0;
  padding: 0;
  width: 100%;
}
