<!-- cart.component.html -->

<div class="mycart-container">
  <div class="content">
    <div class="cart-header">
      <h2>Корзина</h2>
    </div>

    <ng-container *ngIf="products$ | async as products">
      <div class="mycart-items">
        <div class="mycart-item" *ngFor="let product of products">
          <div class="myCard-body">
            <img src="{{product?.image}}" class="car_container_image" alt="...">
            <div class="card_body_items">
              <h5 class="myCard-title">{{ product?.name }}</h5>
              <p class="myCard-text">Об'єм пам'яті: {{ product?.ssd }}</p>
              <p class="myCard-text">Коліт: {{ product?.color }}</p>
            </div>
            <div class="card_body_chose_capacity">
              <p class="myCard-title">Кількість: </p>
              <div class="card_body_chose_capacity_inner">
                <button (click)="decreaseQuantity(product.productVariantId)"
                        class="card_body_chose_capacity_inner_button"><
                </button>
                <p class="myCard-title">{{ product?.quantity }}</p>
                <button (click)="increaseQuantity(product.productVariantId)"
                        class="card_body_chose_capacity_inner_button">>
                </button>
              </div>
              <p class="myCard-text">Ціна: {{ product.price }}</p>
            </div>
            <button (click)="deleteProductFromCart(product.productVariantId)" class="btn btn-primary rounded-pill">
              Видалити
            </button>
          </div>
        </div>
      </div>
      <div class="cart-total">
        Всего: {{products.at(0)?.totalPrice}}
      </div>
    </ng-container>


  </div>
</div>
