<!-- cart.component.html -->

<div class="mycart-container">
  <div class="content">
    <div class="cart-header">
      <h2>Cart</h2>
    </div>

    <ng-container *ngIf="products$ | async as products">
      <div class="mycart-items">
        <div class="mycart-item" *ngFor="let product of products">
          <div class="myCard-body">
            <img src="{{product?.image}}" class="car_container_image" alt="...">
            <div class="card_body_items">
              <h5 class="myCard-title">{{ product?.name }}</h5>
              <p class="myCard-text">Storage capacity: {{ product?.ssd }}</p>
              <p class="myCard-text">Color: {{ product?.color }}</p>
            </div>
            <div class="card_body_chose_capacity">
              <p class="myCard-title">Quantity: </p>
              <div class="card_body_chose_capacity_inner">
                <button (click)="decreaseQuantity(product.productVariantId)"
                        class="card_body_chose_capacity_inner_button"><
                </button>
                <p class="myCard-title">{{ product?.quantity }}</p>
                <button (click)="increaseQuantity(product.productVariantId)"
                        class="card_body_chose_capacity_inner_button">>
                </button>
              </div>
              <p class="myCard-text">Price: {{ product.price }}</p>
            </div>
            <button (click)="deleteProductFromCart(product.productVariantId)"
                    class="btn btn-outline-secondary rounded-pill">
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="cart-total">
        Total price: {{products.at(0)?.totalPrice}}
      </div>
    </ng-container>
    <div class="order">
      <button class="btn btn-secondary" (click)="createOrder()">ORDER NOW</button>
    </div>


  </div>
</div>
