
.mycart-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.mycart-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_body_items {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 150px;
}

.card_body_chose_capacity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_body_chose_capacity_inner_button {
  border: 0px;
  background-color: white;
  margin: 3px;
}

.card_body_chose_capacity_inner {
  display: flex;
  flex-direction: row;
}

.myCard-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.car_container_image {
  width: 200px;
  height: 200px;
}
