<div *ngIf="ordersNull.length>0" class="ordersNull">
  <h1>{{ ordersNull }}</h1>
</div>
<div>

</div>
<ng-container *ngIf="productPdp$ | async as orders">

  <div *ngIf="showModal" class="overlay ">
    <ng-container *ngFor="let order of orders">
      <div *ngIf="order.orderId == orderId" class="overlay_inner ">
        <div class="header_container">
          <p class="card_order_info_container_order_inner_items_p">Order id: {{ orderId }}</p>
          <button class="btn btn-outline-danger header_button" (click)="closeModal()">Close</button>
        </div>

        <div *ngFor="let i of order.cartEntry" class="overlay_order_container ">
          <div class="overlay_order_container-inner-card">
            <div class="overlay_order_container-inner-card-prod-container">
              <div class="overlay_order_container-inner-card-prod-inner-info">
                <p class="card_order_info_container_order_inner_items_p">Product name: </p>
                <p class="card_order_info_container_order_inner_items_p">Quantity: </p>
              </div>
              <div class="overlay_order_container-inner-card-prod-inner-info">
                <p>{{ i.name }}</p>
                <p>{{ i.quantity }}</p>
              </div>
            </div>
            <img src="{{i.image}}" alt="" class="img_order">
          </div>
          <div class="overlay-order-inner-info-prod">
            <div class="overlay-order-inner-info-prod-container">
              <div class="overlay-order-inner-info-prod-inner-info-product-variant">
                <p class="card_order_info_container_order_inner_items_p">Ssd: </p>
                <p class="card_order_info_container_order_inner_items_p">Color: </p>
                <p class="card_order_info_container_order_inner_items_p">Price: </p>
              </div>
              <div class="overlay-order-inner-info-prod-inner-info-product-variant">
                <p>{{ i.ssd }}</p>
                <p>{{ i.color }}</p>
                <p>{{ i.price }}</p>
              </div>
            </div>
          </div>
        </div>
        <p>Created at: {{ order.createdAt }}</p>
        <p *ngIf="order.updatedAt">Updated at: {{ order.updatedAt }}</p>
        <p>Total price: {{ order.price }}</p>
        <form [formGroup]="form" class="overlay_form_container">

          <label for="status-select">Choose a status:</label>
          <select formControlName="status" name="status" id="status-select">
            <option value="">--Please choose an option--</option>
            <option value="Pending">Pending</option>
            <option value="Canceled">Canceled</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
          </select>
          <div class="mb-3 form-check">
            <input formControlName="checkBox" type="checkBox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I want to change order status</label>
          </div>
          <button type="submit" class="btn btn-primary" disabled *ngIf="!form.valid">Submit</button>
          <button (click)="changeOrderStatus(order.id)" type="submit" class="btn btn-primary" *ngIf="form.valid">
            Submit
          </button>


        </form>
      </div>
    </ng-container>
  </div>
  <div class="container_order">

    <div class="card_container_order" *ngFor="let order of orders">
      <ng-container *ngIf="!order.orderStatus.includes(Canceled)">
        <div class="card_order_info_container_order">
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">Order id:</p>
            <p>{{ order.orderId }}</p>
          </div>
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">Price:</p>
            <p>{{ order.price }}</p>

          </div>
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">Order status: </p>
            <p> {{ order.orderStatus }}</p>
          </div>
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">
              Name:
            </p>
            <span *ngFor="let item of order.cartEntry">
            {{ item.name }}
          </span>

          </div>
          <div class="card_order_info_container_order_inner_items_cart">
            <button class="btn btn-secondary" (click)="openModal(order.orderId)">Open products</button>
          </div>


        </div>
      </ng-container>
    </div>
    <div class="card_container_order" *ngFor="let order of orders">
      <ng-container *ngIf="order.orderStatus.includes(Canceled)">
        <div class="card_order_info_container_order card_order_info_container_order_inner_items_p">
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">Order id:</p>
            <p>{{ order.orderId }}</p>
          </div>
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">Price:</p>
            <p>{{ order.price }}</p>

          </div>
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">Order status: </p>
            <p class=""> {{ order.orderStatus }}</p>
          </div>
          <div class="card_order_info_container_order_inner_items">
            <p class="card_order_info_container_order_inner_items_p">
              Name:
            </p>
            <span *ngFor="let item of order.cartEntry">
            {{ item.name }}
          </span>

          </div>
          <div class="card_order_info_container_order_inner_items_cart">
            <button class="btn btn-outline-secondary" (click)="openModal(order.orderId)">Open products</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
