.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 250%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay_inner {
  width: 80%;
  height: 80%;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

//fafw

.img_order {
  height: 300px;
  width: 300px;
}

.overlay_order_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  border: 1px gray solid;
}

.overlay_order_container-inner-card {
  width: 40%;
  display: flex;
  flex-direction: column;

}

.overlay-order-inner-info-prod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.overlay_order_container-inner-card-prod-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overlay_order_container-inner-card-prod-inner-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container_order {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.card_container_order {
  width: 90%;
  display: flex;
  flex-direction: column;

}

.card_order_info_container_order {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  border: 2px solid;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.card_order_info_container_order_inner_items {
  min-height: 104px;
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
}

.card_order_info_container_order_inner_items_cart {
  min-height: 104px;
  display: flex;
  flex-direction: column;
  width: 18%;
  align-items: center;
  justify-content: center;
}


.overlay-order-inner-info-prod-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.overlay-order-inner-info-prod-inner-info-product-variant {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.card_order_info_container_order_inner_items_p {
  font-size: 14px;
  color: #929292;
}

.ordersNull {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
