<div class="d-flex justify-content-center">
  <div class="w-75">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="examplefirstName" class="form-label">firstName</label>
        <input formControlName="firstName" type="email" class="form-control" id="examplefirstName">
      </div>
      <div class="mb-3">
        <label for="examplelastName" class="form-label">lastName</label>
        <input formControlName="lastName" type="email" class="form-control" id="examplelastName">
      </div>
      <div class="mb-3">
        <label for="exampleage" class="form-label">age</label>
        <input formControlName="age" type="date" class="form-control" id="exampleage">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input formControlName="checkBox" type="checkBox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I agree with rules</label>
      </div>
      <button type="submit" class="btn btn-primary" disabled *ngIf="!form.valid">Submit</button>
      <button (click)="register()" type="submit" class="btn btn-primary" *ngIf="form.valid">Submit</button>
    </form>
  </div>
</div>
