<div class="middle_content_pro">
  <div class="middle_content_text">
    <h2 class="middle_content_text_model_name">iPhone 13</h2>
    <h1 class="middle_content_text_model_feature">Time-tested</h1>
    <p class="middle_content_text_model_coast">From $499</p>
    <a routerLink="/pdp/9" class="btn btn-primary rounded-pill">Buy</a>
  </div>
  <div class="middle_content_background">
    <img class="middle_content_img " src="https://images.pngnice.com/download/2314/iPhone-13-Edge-PNG-HD.png" alt="c">
  </div>
</div>

