.middle_content_pro {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  background-color: #f3fff5;
  display: flex;
  flex-direction: row;
}

.middle_content_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.middle_content_background {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.middle_content_img {
  width: 70%;
}

.middle_content_img:hover {
  width: 80%;
  transition: 1s ease-in;
}


//font styles
.middle_content_text_new {

  margin-right: 13px;
  color: #f56300;
}

.middle_content_text_model_name {
  color: #3b573c;
}

.middle_content_text_model_feature {
  color: #5d9663;
  font-family: 'Lemon', serif;
}

.middle_content_text_model_coast {
  margin-top: 10px;
  font-size: 22px;
  color: #5b725d;
}

.middle_content_text_model_more {
  margin-top: 10px;
}
