<ng-container *ngIf="{
product: productPdp$ | async,
priceVariant: price$ | async
 } as config">
  <div class="card-container">
    <div class="card-header">

    </div>
    <div class="middle">
      <div class="middle_container_images">
        <button class="img_button_slider" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
          <
        </button>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{config.product?.images?.at(0)}}" class="middle_images" alt="...">
            </div>
            <ng-container *ngFor="let image of config.product?.images; let i = index">
              <div class="carousel-item" *ngIf="i !== 0">
                <img src="{{image}}" class="middle_images" alt="...">
              </div>
            </ng-container>
          </div>
        </div>
        <button class="img_button_slider" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
          >
        </button>
      </div>
      <div class="middle_text">
        <div class="middle_text_head_inner">
          <h1>{{ config.product?.name }}</h1>
        </div>
        <div class="middle_text_middle_inner">
          <div class="ssd_capacity">
            <h3>SSD:</h3>
            <ng-container *ngFor="let ssd of ssdSet">
              <button
                [class.btn-dark]="ssd === form.controls['ssd'].value"
                [class.btn-outline-secondary]="ssd !== form.controls['ssd'].value"
                (click)="addSsd(ssd)"
                type="button"
                class="btn">{{ ssd }}
              </button>
            </ng-container>
          </div>
          <div class="product_color_choise">
            <h3>Color:</h3>
            <ng-container *ngFor="let color of colorSet">
              <button
                [class.btn-dark]="color === form.controls['color'].value"
                [class.btn-outline-secondary]="color !== form.controls['color'].value"
                (click)="addColor(color)"
                type="button"
                class="btn">{{ color }}
              </button>
            </ng-container>
          </div>
        </div>
        <div class="middle_text_footer_inner" *ngIf="config.priceVariant?.price">
          <h3>Price</h3>
          <button
            *ngIf="!(isLoginIn$ | async)"
            disabled
            (click)="shopNow(config.priceVariant?.productId)"
            type="button"
            class="btn btn-outline-success">
            {{ config.priceVariant?.price }}
          </button>
          <button
            *ngIf="(isLoginIn$ | async)"
            (click)="shopNow(config.priceVariant?.productId)"
            type="button"
            class="btn btn-outline-success">
            {{ config.priceVariant?.price }}
          </button>
        </div>
        <div class="middle_text_footer_inner" *ngIf="!config.priceVariant?.price">
          <h3>Price</h3>
          <button
            type="button" class="btn btn-outline-success disabled">Buy
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="product-card-info">
    <div class="product-card-info-inner">
      <div class="card mb-3">
        <div class="card-body">
          <div class="product-card-body-inner-name">
            <h5 class="card-title">{{ config.product?.name }}</h5>
          </div>
          <p class="card-text"> {{ config.product?.description }}</p>

          <div class="product-card-body-inner-name">
            <img src="{{config.product?.images?.at(0)}}" class="" alt="...">
          </div>
          <div class="product-card-body-inner-name">

            <img src="{{config.product?.images?.at(3)}}" alt="">
          </div>
          <div class="product-card-body-inner-container-info">
            <div class="product-card-body-inner-info">
              <p class="card-text">Cpu: </p>
              <p class="card-text">Ram: </p>
              <p class="card-text">Camera: </p>
              <p class="card-text">Safety: </p>
              <p class="card-text">Battery: </p>
              <p class="card-text">Os: </p>
              <p class="card-text">Sim card: </p>
              <p class="card-text">Sensors: </p>
              <p class="card-text">Water resistance: </p>
              <p class="card-text">Video recording: </p>
            </div>
            <div class="product-card-body-inner-info">
              <p class="card-text">{{ config.product?.cpu }}</p>
              <p class="card-text">{{ config.product?.ram }}</p>
              <p class="card-text">{{ config.product?.camera }}</p>
              <p class="card-text">{{ config.product?.safety }}</p>
              <p class="card-text">{{ config.product?.battery }}</p>
              <p class="card-text">{{ config.product?.os }}</p>
              <p class="card-text">{{ config.product?.simCard }}</p>
              <p class="card-text">{{ config.product?.sensors }}</p>
              <p class="card-text">{{ config.product?.waterResistance }}</p>
              <p class="card-text">{{ config.product?.videoRecording }}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>
